/* style001.css */

body
{
    margin: 0px;
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

#map
{
    border: 1px solid rgb(255, 255, 255);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

